
body,html{
	width: 100%;
	height: 100%;
	font-family: 'Press Start 2P', cursive;

  padding: 0 2rem;
  margin: 0 2rem;
 background-image: url("img/BG_Body.jpg");
}
#info {

width: 20%;

  top: 0;
  padding: 5px;
  background-color: White;
  border: 5px solid Black;
}
#info-w-b
{

}
.title
{
position: absolute;
top: 1%;
left: 11%;
background-color: white;
}
