body,html{
	width: 100%;
	height: 100%;
	font-family: 'Press Start 2P', cursive;
  padding: 0 2rem;
  margin: 0 2rem;
}

#containerAll
{
width: 30%;
height: 50%;
top: 5px;
padding: 5px;
border: 4px solid Black;
}
#info{
height: 50%;
padding-top: 2%;
padding-left: 2%;
border: 5px solid Black;

overflow: hidden;
margin-bottom: 10px;
}
#mIzq{
width: 50%;
height: 100%;
overflow: hidden;
float: left;
}
#container
{
width: 100%;
}
.title
{
position: absolute;
top: 2%;
left: 8.3%;
background-color: white;
}
.titleS
{
position: absolute;
top: 2%;
left: 24.3%;
background-color: white;
}
.titleI
{
position: absolute;
top: 25%;
left: 8.3%;
background-color: white;
}
#scroll
{
padding-left: 20px;

border: 5px solid Black;
height:98%;
width: 89%;
float:left;
overflow: hidden;

}#infoD
{
height: 41%;
padding-top: 2%;
padding-left: 2%;
border: 5px solid Black;

overflow: hidden;
margin-bottom: 10px;
}
#mDer{
float:right;
width: 48%;
height: 99.5%;
overflow: hidden;
margin-left: 10px;
}
.test {
  width: 10px;
  height: 10px;
  background: orange;
  float: left;
}
.icon
{

width: 10%;
}
