
#menu{
    text-align: left;
    width: 100%;

 overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  
  top: 0;
  z-index: 99;


}
#menu img{
    margin: 1%;
    margin-left: 5%;
}
#CDL img
{
margin: 1%;
margin-left: 5%;
}


#content img
{
width: -webkit-fill-available;

}
#contentD
{

    background-color: #FEE1A1;
    display: inline-block;
    width: 100%;
}

#TextC
{
position:absolute;
}
#CDL
{
        float: left;
margin-top: 1%;
    margin-left: 5%;
}
#CDR
{
text-align: left;
    margin: 1%;
    margin-left: 45%;
    font-size: medium;
    font-weight: bold;
    color: darkslateblue;

}

.carousel-caption {
padding-bottom: 30px;
    border: solid;
    margin-bottom: 17%;
border-width: 5px;

}
.carousel-caption h3 {
    font-size: 100px;
}

#mission{
background-color: #000080;
    position: absolute;
    width: 40%;
    height: 50%;
}

#textM
{
 position: absolute;
    margin-top: 14%;
    color: white;
    text-align: left;
    padding: 13%;
    background-color: midnightblue;
    font-size: 15px;
}

#textV
{

background-color: white;
    position: absolute;
    text-align: right;
    padding: 13%;
    right: 0%;
    bottom: -95%;
}
#titleS
{
position: absolute;
    padding-top: 10%;
    padding-left: 40%;
    font-size: 50px;
    color: white;
}
#textSU
{
width: 100%;
    position: absolute;
    padding-top: 24%;
}
#textSD
{
width: 100%;
    position: absolute;
    padding-top: 34%;
}
.boxT
{
color: white;
width: 160px;
    height: 80px;
    padding: 20px;
    border: 3px solid white;
    display: inline;
    font-size: 44px;
    margin: 47px;
}
.boxTD
{
color: white;
    width: 160px;
    height: 80px;
    padding: 20px;
    border: 3px solid white;
    display: inline;
    font-size: 32px;
    margin: 75px;
}
.izqS
{
    float: left;
    width: 50%;
    background-color: white;
    padding-top: 15%;
  
    
}
.textD
{
width: 50%;
    background-color: midnightblue;
    padding-top: 15%;
    padding-bottom: 25.5%;
    float: right;
    color: white;
}
.textIS
{
     padding-top: 25%;
    text-align: left;
    padding-left: 20%;
} 
.textID
{
text-align: right;
    padding-right: 28%;
}
.textFS
{
position: absolute;
    bottom: -169%;
    padding: 14%;
    right: 0px;
    background-color: white;
}  